In [17]:
import pandas as pd
from IPython.display import display

In [18]:
df_top5_2022 = pd.read_csv('../../data/processed/top5_2022.csv').drop(columns=['Unnamed: 0'])
df_top5_2023 = pd.read_csv('../../data/processed/top5_2023.csv').drop(columns=['Unnamed: 0'])
df_other_2022 = pd.read_csv('../../data/processed/otherleagues2022.csv').drop(columns=['Unnamed: 0'])
df_other_2023 = pd.read_csv('../../data/processed/otherleagues2023.csv').drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.2'])

In [20]:
dataframes = [df_top5_2022, df_top5_2023, df_other_2022, df_other_2023]
for df in dataframes:
    display(df.head(4))

,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Salis Abdul Samed,gh GHA,MF,Lens,fr Ligue 1,22,0.03,0.03,0.06,0.03,0.06,0.03,0.05,0.08,0.03,0.08
1,Francesco Acerbi,it ITA,DF,Inter,it Serie A,34,0.00,0.07,0.07,0.00,0.07,0.04,0.04,0.08,0.04,0.08
2,Marcos Acuña,ar ARG,DF,Sevilla,es La Liga,30,0.14,0.09,0.24,0.14,0.24,0.05,0.20,0.26,0.05,0.26
3,Karim Adeyemi,de GER,"FW,MF",Dortmund,de Bundesliga,20,0.39,0.32,0.71,0.39,0.71,0.33,0.24,0.57,0.28,0.52

,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Brenden Aaronson,us USA,MF,Union Berlin,de Bundesliga,22-343,0.0,0.0,0.0,0.0,0.0,0.01,0.09,0.11,0.01,0.11
1,Salis Abdul Samed,gh GHA,MF,Lens,fr Ligue 1,23-188,0.0,0.0,0.0,0.0,0.0,0.03,0.03,0.05,0.03,0.05
2,Francesco Acerbi,it ITA,DF,Inter,it Serie A,35-232,0.0,0.0,0.0,0.0,0.0,0.11,0.00,0.11,0.11,0.11
3,Marcos Acuña,ar ARG,DF,Sevilla,es La Liga,31-337,0.0,0.0,0.0,0.0,0.0,0.04,0.06,0.10,0.04,0.10

,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Odisseas Vlachodimos,gr GRE,GK,SL Benfica,por Liga Portugal,28.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Álex Grimaldo,es ESP,DF,SL Benfica,por Liga Portugal,26.0,0.021429,0.040000,0.061429,0.012857,0.052857,0.017143,0.055714,0.071429,0.010000,0.065714
2,João Mário,pt POR,FW,SL Benfica,por Liga Portugal,29.0,0.082857,0.034286,0.117143,0.048571,0.082857,0.090000,0.035714,0.125714,0.051429,0.087143
3,Nicolás Otamendi,ar ARG,DF,SL Benfica,por Liga Portugal,34.0,0.004286,0.000000,0.004286,0.004286,0.004286,0.011429,0.001429,0.012857,0.011429,0.012857

,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Fredrik Aursnes,no NOR,DF,SL Benfica,por Liga Portugal,27-294,0.020000,0.020000,0.041429,0.020000,0.041429,0.005714,0.031429,0.037143,0.005714,0.037143
1,Nicolás Otamendi,ar ARG,DF,SL Benfica,por Liga Portugal,35-230,0.000000,0.000000,0.000000,0.000000,0.000000,0.005714,0.002857,0.008571,0.005714,0.008571
2,Rafa Silva,pt POR,MF,SL Benfica,por Liga Portugal,30-136,0.061429,0.082857,0.144286,0.061429,0.144286,0.080000,0.075714,0.154286,0.080000,0.154286
3,Alexander Bah,dk DEN,DF,SL Benfica,por Liga Portugal,25-295,0.022857,0.000000,0.022857,0.022857,0.022857,0.011429,0.007143,0.018571,0.011429,0.018571

In [21]:
df_2022 = pd.concat([df_top5_2022, df_other_2022])
df_2023 = pd.concat([df_top5_2023, df_other_2023])

In [22]:
dataframes = [df_2022, df_2023]
for df in dataframes:
    display(df.head(3))

,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Salis Abdul Samed,gh GHA,MF,Lens,fr Ligue 1,22,0.03,0.03,0.06,0.03,0.06,0.03,0.05,0.08,0.03,0.08
1,Francesco Acerbi,it ITA,DF,Inter,it Serie A,34,0.00,0.07,0.07,0.00,0.07,0.04,0.04,0.08,0.04,0.08
2,Marcos Acuña,ar ARG,DF,Sevilla,es La Liga,30,0.14,0.09,0.24,0.14,0.24,0.05,0.20,0.26,0.05,0.26

,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Brenden Aaronson,us USA,MF,Union Berlin,de Bundesliga,22-343,0.0,0.0,0.0,0.0,0.0,0.01,0.09,0.11,0.01,0.11
1,Salis Abdul Samed,gh GHA,MF,Lens,fr Ligue 1,23-188,0.0,0.0,0.0,0.0,0.0,0.03,0.03,0.05,0.03,0.05
2,Francesco Acerbi,it ITA,DF,Inter,it Serie A,35-232,0.0,0.0,0.0,0.0,0.0,0.11,0.00,0.11,0.11,0.11

,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Brenden Aaronson,us USA,MF,Union Berlin,de Bundesliga,22-343,0.0,0.0,0.0,0.0,0.0,0.01,0.09,0.11,0.01,0.11
1,Salis Abdul Samed,gh GHA,MF,Lens,fr Ligue 1,23-188,0.0,0.0,0.0,0.0,0.0,0.03,0.03,0.05,0.03,0.05
2,Francesco Acerbi,it ITA,DF,Inter,it Serie A,35-232,0.0,0.0,0.0,0.0,0.0,0.11,0.00,0.11,0.11,0.11
3,Marcos Acuña,ar ARG,DF,Sevilla,es La Liga,31-337,0.0,0.0,0.0,0.0,0.0,0.04,0.06,0.10,0.04,0.10
4,Karim Adeyemi,de GER,"FW,MF",Dortmund,de Bundesliga,21-255,0.0,0.0,0.0,0.0,0.0,0.43,0.05,0.48,0.43,0.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,Maryan Shved,ua UKR,"FW,MF",Shakhtar Donetsk,ukr Ukrainian Premier League,26-076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,Husrav Toirov,tj TJK,MF,Shakhtar Donetsk,ukr Ukrainian Premier League,19-060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,Anatolii Trubin,ua UKR,GK,Shakhtar Donetsk,ukr Ukrainian Premier League,22-060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,Denys Tvardovskyi,ua UKR,GK,Shakhtar Donetsk,ukr Ukrainian Premier League,20-109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372,Danylo Udod,ua UKR,DF,Shakhtar Donetsk,ukr Ukrainian Premier League,19-205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_2022['Nation'] = df_2022['Nation'].str.replace('[^A-Z]', '', regex=True)
df_2022['Comp'] = df_2022['Comp'].apply(lambda x: ' '.join(x.split(' ')[1:]))
#df_2022['Age'] = df_2022['Age'].str.split('-').str[0]
df_2022.head()

,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,0.03,0.03,0.06,0.03,0.06,0.03,0.05,0.08,0.03,0.08
1,Francesco Acerbi,ITA,DF,Inter,Serie A,34,0.00,0.07,0.07,0.00,0.07,0.04,0.04,0.08,0.04,0.08
2,Marcos Acuña,ARG,DF,Sevilla,La Liga,30,0.14,0.09,0.24,0.14,0.24,0.05,0.20,0.26,0.05,0.26
3,Karim Adeyemi,GER,"FW,MF",Dortmund,Bundesliga,20,0.39,0.32,0.71,0.39,0.71,0.33,0.24,0.57,0.28,0.52
4,Yacine Adli,FRA,"MF,FW",Milan,Serie A,22,0.00,0.00,0.00,0.00,0.00,0.05,0.16,0.22,0.05,0.22

In [7]:
df_2022['Age'] = df_2022['Age'].astype(str)
df_2022['Age'] = df_2022['Age'].str.extract('(\d+)', expand=False)
df_2022['Age'] = df_2022['Age'].astype(float)
df_2022['Age'] = df_2022['Age'].astype(int)
df_2022.head()

,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,0.03,0.03,0.06,0.03,0.06,0.03,0.05,0.08,0.03,0.08
1,Francesco Acerbi,ITA,DF,Inter,Serie A,34,0.00,0.07,0.07,0.00,0.07,0.04,0.04,0.08,0.04,0.08
2,Marcos Acuña,ARG,DF,Sevilla,La Liga,30,0.14,0.09,0.24,0.14,0.24,0.05,0.20,0.26,0.05,0.26
3,Karim Adeyemi,GER,"FW,MF",Dortmund,Bundesliga,20,0.39,0.32,0.71,0.39,0.71,0.33,0.24,0.57,0.28,0.52
4,Yacine Adli,FRA,"MF,FW",Milan,Serie A,22,0.00,0.00,0.00,0.00,0.00,0.05,0.16,0.22,0.05,0.22

In [26]:
df_2023['Nation'] = df_2023['Nation'].str.replace('[^A-Z]', '', regex=True)
df_2023['Comp'] = df_2023['Comp'].apply(lambda x: ' '.join(x.split(' ')[1:]))
df_2023['Age'] = df_2023['Age'].str.split('-').str[0]
df_2023.head()

,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Brenden Aaronson,USA,MF,Union Berlin,Bundesliga,22,0.0,0.0,0.0,0.0,0.0,0.01,0.09,0.11,0.01,0.11
1,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,23,0.0,0.0,0.0,0.0,0.0,0.03,0.03,0.05,0.03,0.05
2,Francesco Acerbi,ITA,DF,Inter,Serie A,35,0.0,0.0,0.0,0.0,0.0,0.11,0.00,0.11,0.11,0.11
3,Marcos Acuña,ARG,DF,Sevilla,La Liga,31,0.0,0.0,0.0,0.0,0.0,0.04,0.06,0.10,0.04,0.10
4,Karim Adeyemi,GER,"FW,MF",Dortmund,Bundesliga,21,0.0,0.0,0.0,0.0,0.0,0.43,0.05,0.48,0.43,0.48

In [27]:

# Create a new 'player_id' column with values starting from 1000
df_2022['player_id'] = range(1000, 1000 + len(df_2022))
df_2023['player_id'] = range(1000, 1000 + len(df_2023))


# Reorder columns to make 'player_id' the first column
column_order2022 = ['player_id'] + [col for col in df if col != 'player_id']
column_order2023 = ['player_id'] + [col for col in df_2023 if col != 'player_id']

df_2022 = df_2022[column_order2022]
df_2023 = df_2023[column_order2023]

In [28]:
dataframes = [df_2022, df_2023]
for df in dataframes:
    display(df.head(3))

,player_id,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,1000,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,0.03,0.03,0.06,0.03,0.06,0.03,0.05,0.08,0.03,0.08
1,1001,Francesco Acerbi,ITA,DF,Inter,Serie A,34,0.00,0.07,0.07,0.00,0.07,0.04,0.04,0.08,0.04,0.08
2,1002,Marcos Acuña,ARG,DF,Sevilla,La Liga,30,0.14,0.09,0.24,0.14,0.24,0.05,0.20,0.26,0.05,0.26

,player_id,Player,Nation,Pos,Squad,Comp,Age,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,1000,Brenden Aaronson,USA,MF,Union Berlin,Bundesliga,22,0.0,0.0,0.0,0.0,0.0,0.01,0.09,0.11,0.01,0.11
1,1001,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,23,0.0,0.0,0.0,0.0,0.0,0.03,0.03,0.05,0.03,0.05
2,1002,Francesco Acerbi,ITA,DF,Inter,Serie A,35,0.0,0.0,0.0,0.0,0.0,0.11,0.00,0.11,0.11,0.11

In [30]:
df_2022 = df_2022.dropna()
df_2023 = df_2023.dropna()

In [31]:
df_2022.to_csv('../../data/final/2022.csv')

In [33]:
drop_ids = [1281, 1369, 1350, 1346, 1313]
df_2023 = df_2023[~df_2023['player_id'].isin(drop_ids)]

In [34]:
df_2023.to_csv('../../data/final/2023.csv')